# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Hugo Henrique\Documents\WebServer\Apache24\www\CRDV-MAGAZINE\CRDV Magazine\public_html\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
